In [3]:
import requests
import bs4
import pandas as pd
import numpy as np

In [4]:
res=requests.get("https://www.indeed.co.in/jobs?q=data+scientist&l=Delhi")

In [5]:
type(res)

requests.models.Response

In [6]:
print(res.text[:100])

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta http-equiv="content-type" content="text/html

In [7]:
#for extracting titles:
def get_title(soup1):
    title=[]
    for div in soup1.findAll(name='div',attrs={'class':'row'}):
        for a in div.find_all(name='a',attrs={'data-tn-element':'jobTitle'}):
            title.append(a.get('title'))
    return title

In [8]:
#for extracting location:
def get_location(soup1):
    location=[]
    for div in soup1.findAll(name='div',attrs={'class':'row'}):
        for span in div.find_all(name='span',attrs={'class':'location'}):
            location.append(span.get_text())
    return location

In [9]:
#for extracting summary:
def get_summary(soup1):
    summary=[]
    for div in soup1.findAll(name='div',attrs={'class':'row'}):
        for span in div.find_all(name='span',attrs={'class':'summary'}):
            summary.append(span.get_text())
    return summary

In [10]:
#for extracting company names
def get_company(soup1):
    company=[]
    for div in soup1.findAll(name='div',attrs={'class':'row'}):
        for span in div.find_all(name='span',attrs={'class':'company'}):
            company.append(span.get_text())
    return company

In [13]:
#combing titles,location,summary,company together
def combined(soup1):
    title=get_title(soup1)
    location=get_location(soup1)
    summary=get_summary(soup1)
    company=get_company(soup1)
    arr=[title,location,summary,company]
    info=pd.DataFrame(data=arr).transpose()
    info.columns=['Title','Location','Summary','Company']
    return info

In [14]:
#combining scrapped data from different urls
com=pd.DataFrame()
urls=['https://www.indeed.co.in/jobs?q=data+scientist&l=Delhi','https://www.indeed.co.in/jobs?q=data+scientist&l=Delhi&start=10','https://www.indeed.co.in/jobs?q=data+scientist&l=Delhi&start=20','https://www.indeed.co.in/jobs?q=data+scientist&l=Delhi&start=30']
for url in urls:
    res=requests.get(url)
    soup1=bs4.BeautifulSoup(res.text,'html')
    a=combined(soup1)
    b=pd.concat([com,a])
    com = b

In [15]:
b

,Title,Location,Summary,Company
0,Operations Research Scientist,"Zafrabad, Delhi",None,\n\nBOEING
1,Data & Analytics Analyst,"Delhi, Delhi",None,\n\nRBS
2,Data Analyst,"Safdarjung Enclave, Delhi, Delhi",None,\nRockingdeals Pvt. Ltd.
3,Urgent Hiring for Data Scientist,"Delhi, Delhi",None,\nTimble Technologies Pvt. Ltd.
4,Machine Learning Engineer | Python | TensorFlow,"Delhi, Delhi",None,\nSisdy Estylo Private Limited
5,Data Scientist,"Delhi, Delhi",None,\n\nISO
6,Data Science Internship,"Delhi, Delhi",None,\nData Folkz
7,Data Scientist,"Organisation, Delhi",None,\nCountry Veggie
8,Data Scientist (KTP Associate),"New Delhi, Delhi",None,\nUniversity of Hull
9,Data Scientist,"Delhi, Delhi",None,\n\nNew Era India
10,Data Analyst-Contractor,None,None,\n\nISO
0,Consultant (Data Analyst),"New Delhi, Delhi",None,\nNational Legal Services Authority (NALSA)
1,BCG Omnia â€“ Data Analyst,"New Delhi, Delhi",None,\n\nThe Boston Consulting Group
2,Data Scientist,"Defence Colony, Delhi, Delhi",None,\nMahajan Imaging
3,Data Analyst,"Pitampura, Delhi",None,\nTech2Globe Web Solutions
4,Data Scientist | Leading Financial Services Co...,"Delhi, Delhi",None,\n\nUnnati
5,Data Analytics part time job/internship at Delhi,"Delhi, Delhi",None,\nMentord Edtech Private Limited
6,Data Analytics Internship,"Delhi, Delhi",None,\nPolstrat
7,DATA SCIENTIST,"Delhi, Delhi",None,\n\nInnefu Labs Pvt. Ltd.
8,Data Scientist,"Delhi, Delhi",None,\nSaffron Consultancy Services
9,Data Analyst,"Connaught Place, Delhi, Delhi",None,\nEdunuts
10,Operations Research Scientist,None,None,\n\nBOEING
0,Data Analyst Expires soon,"New Delhi, Delhi",None,\n\nBHP
1,Data Scientist,"New Delhi, Delhi",None,\nAnk Aha
2,DATA ANALYST,"Delhi, Delhi",None,\nKnowledge Excel Services.
3,Data Transformation Analyst I,"Bhajan Pura, Delhi",None,\n\nIHS Markit
4,Data Analyst,"New Delhi, Delhi",None,\nEminenture
5,Data Science & Analytic,"Delhi, Delhi",None,\n\nCODEC Networks
6,"Specialist, Data analytics","Delhi, Delhi",None,\nFood Memories
7,Sr.Data Scientist,"Delhi, Delhi",None,\n\nInnefu Labs Pvt. Ltd.
8,Engineering/ Data Science/ Product Intern,"Delhi, Delhi",None,\n\nLybrate
9,Data Scientist,"Delhi, Delhi",None,\nPinnacle Digital Analytics
10,Operations Research Scientist,None,None,\n\nBOEING
0,Data Scientist,"New Delhi, Delhi",None,\nIndraprastha Institute of Information Techno...
1,Data Scientist,"Delhi, Delhi",None,"\nEagle Ray, Inc."
2,Operations Research Scientist,"Delhi, Delhi",None,\n\nBOEING
3,Machine Learning Internship,"Delhi, Delhi",None,\nNeolen
4,Data Analyst,"New Delhi, Delhi",None,\n\nRELX Group
5,Data Scientist,"New Delhi, Delhi",None,\nFitfyles
6,Data Science Associate,"New Delhi, Delhi",None,\n\nZS Associates
7,Analyst,"Preet Vihar, Delhi, Delhi",None,\nALGOWIRE Trading Technologies
8,AI & Machine Learning expert,"New Delhi, Delhi",None,\nF-Trend
9,Data Analyst AssociateZobello,"New Delhi, Delhi",None,\nZobello
10,Operations Research Scientist,None,None,\n\nBOEING

In [16]:
# Explorting scrapped data to a csv file
b.to_csv('DataScientist_opening.csv',index=False)